ServiceClient2/src/META-INF/wsdl/localhost_8080/Service2/DoublerService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><xs:schema xmlns:tns="http://ws.jim/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.jim/">

<xs:element name="doubler" type="tns:doubler" />

<xs:element name="doublerResponse" type="tns:doublerResponse" />

<xs:complexType name="doubler">
<xs:sequence>
<xs:element name="arg0" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="doublerResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>