ServiceClient2/xml-resources/web-service-references/ValidatorService/wsdl/localhost_8080/Service2/ValidatorService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.jim/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.jim/" name="ValidatorService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.jim/" schemaLocation="http://localhost:8080/Service2/ValidatorService?xsd=1" />
</xsd:schema>
</types>
<message name="validate">
<part name="parameters" element="tns:validate" />
</message>
<message name="validateResponse">
<part name="parameters" element="tns:validateResponse" />
</message>
<message name="capitalise">
<part name="parameters" element="tns:capitalise" />
</message>
<message name="capitaliseResponse">
<part name="parameters" element="tns:capitaliseResponse" />
</message>
<message name="randomise">
<part name="parameters" element="tns:randomise" />
</message>
<message name="randomiseResponse">
<part name="parameters" element="tns:randomiseResponse" />
</message>
<portType name="Validator">
<operation name="validate">
<input wsam:Action="http://ws.jim/Validator/validateRequest" message="tns:validate" />
<output wsam:Action="http://ws.jim/Validator/validateResponse" message="tns:validateResponse" />
</operation>
<operation name="capitalise">
<input wsam:Action="http://ws.jim/Validator/capitaliseRequest" message="tns:capitalise" />
<output wsam:Action="http://ws.jim/Validator/capitaliseResponse" message="tns:capitaliseResponse" />
</operation>
<operation name="randomise">
<input wsam:Action="http://ws.jim/Validator/randomiseRequest" message="tns:randomise" />
<output wsam:Action="http://ws.jim/Validator/randomiseResponse" message="tns:randomiseResponse" />
</operation>
</portType>
<binding name="ValidatorPortBinding" type="tns:Validator">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="validate">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="capitalise">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="randomise">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ValidatorService">
<port name="ValidatorPort" binding="tns:ValidatorPortBinding">
<soap:address location="http://localhost:8080/Service2/ValidatorService" />
</port>
</service>
</definitions>