ServiceClient2/xml-resources/web-service-references/ValidatorService/wsdl/localhost_8080/Service2/ValidatorService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><xs:schema xmlns:tns="http://ws.jim/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.jim/">

<xs:element name="capitalise" type="tns:capitalise" />

<xs:element name="capitaliseResponse" type="tns:capitaliseResponse" />

<xs:element name="randomise" type="tns:randomise" />

<xs:element name="randomiseResponse" type="tns:randomiseResponse" />

<xs:element name="validate" type="tns:validate" />

<xs:element name="validateResponse" type="tns:validateResponse" />

<xs:complexType name="capitalise">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="capitaliseResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="randomise">
<xs:sequence />
</xs:complexType>

<xs:complexType name="randomiseResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="validate">
<xs:sequence>
<xs:element name="arg0" type="tns:user" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="forename" type="xs:string" minOccurs="0" />
<xs:element name="lastname" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="validateResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
</xs:schema>